*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  margin: 0;
  background-color: #fafaf5;
  font-size: 100%;
}

.full-width {
  width: 100%;
}

.main-header {
  color: #fff;
  background-color: #162136;
  position: absolute;
  top: 0;
  height: 60px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  color: #fff;
  margin-top: 1em;
  padding: 0 1em 0 1em;
}

.main-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.main-ul__li {
  margin: 0 4% 0 4%;
}

.main-h1 {
  margin-top: 100px;
}

.main-nav__a {
  color: #fff;
  text-decoration: none;
}
