*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "roboto";

  src: url("../fonts/roboto.ttf") format("truetype");
}

body {
  font-family: "Roboto";
  font-size: 100%;

  max-width: 100%;
  margin: 0;
  padding-bottom: 20px;

  background-color: #fafafa;
}

footer {
  padding-top: 40px;

  text-align: center;
}

h2 {
  color: #162136;
}

a {
  color: inherit;
}

.full-width {
  width: 100%;
}

.centered {
  display: flex;

  margin: 0 auto;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.main-header {
  position: fixed;
  z-index: 999;
  top: 0;

  height: 60px;

  color: #fff;
  background-color: #162136;
}

.main-nav {
  font-size: 1.2em;

  display: flex;

  margin-top: 1em;
  padding: 0 1em 0 1em;

  color: #fff;

  justify-content: space-between;
}

.main-ul {
  display: flex;
  flex-direction: row;

  margin: 0;

  list-style-type: none;

  justify-content: center;
}

.main-ul__li {
  margin: 0 4% 0 4%;
}

.main-nav__a {
  text-decoration: none;

  color: #fff;
}

.top-section {
  position: relative;
  top: 0;

  display: flex;
  overflow: hidden;

  height: 500px;

  color: #fff;
  background-color: #162136;
}

.top-section-back {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  width: 50%;
  height: 100%;

  background-image: url("../images/top-back.jpeg");

  justify-content: flex-end;
}

.top-section-back-right {
  position: relative;

  width: 0;
  height: 0;

  border-bottom: 500px solid #162136;
  border-left: 150px solid transparent;
}

.top-section-right {
  position: relative;
  z-index: 2;

  width: 100%;
  padding-top: 4em;
  padding-top: 150px;
  padding-left: 45%;

  background-color: rgba(0, 0, 0, 0.1);
}

.top-section__h1 {
  font-size: 2.5em;
}

.top-section__p {
  font-size: 1.5em;
}

.main-section {
  flex-direction: column;

  width: 80%;
}

.main-section__title-container {
  margin: 15px 0 15px 0;

  border-bottom: 2px solid #162136;
}

.main-section__title {
  margin: 0;
}

.main-section__education,
.main-section__experience,
.main-section__project {
  padding-left: 10px;

  border-left: 2px solid #e0e0e0;
}

.main-section__education__title,
.main-section__experience__title {
  font-size: 1.3em;
}

.main-section__education__date,
.main-section__experience__date,
.main-section__project__date {
  font-size: 0.9em;

  color: #9e9e9e;
}

.main-section__skills__sub-title {
  margin: 0;
}

.main-section__skills__it__section {
  margin: 1em 0;
  padding: 0 0.5em;

  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.main-section__skills__it__section > p {
  margin-bottom: 0;
}

.main-section__skills__it__elt-ctn {
  display: flex;

  flex-wrap: wrap;
}

.main-section__skills__it__elt,
.main-section__project__tech {
  font-size: 1.1em;

  margin: 0.8em;
  padding: 0.1em 0.3em;

  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.main-section__skills__it__elt > img,
.main-section__project__tech > img {
  width: 1.6em;
  height: auto;
}

.main-section__skills__it__elt > p,
.main-section__project__tech > p {
  line-height: 2em;

  display: inline-block;

  margin: 0;

  vertical-align: super;
}

.main-section__skills__lang__elt {
  display: flex;
}

.main-section__skills__lang__elt > img {
  width: 2em;
  margin-right: 0.5em;
}

.main-section__project__title {
  font-size: 1.3em;
  font-weight: bold;

  margin-bottom: 5px;
}

.main-section__project__date {
  margin: 0;
}

.main-section__project__tech-ctn {
  display: flex;
}

.main-section__contact {
  font-size: 3em;

  display: flex;

  justify-content: center;
}

.main-section__contact__link {
  width: 1em;
  height: 1em;
  padding: 0.3em;

  cursor: pointer;
  transition: 0.2s;
  text-align: center;

  color: #fafafa;
  border: 2px solid #162136;
  border-radius: 50%;
  background-color: #162136;
}

.main-section__contact__link:hover {
  color: #162136;
  background-color: #fafafa;
}

.main-section__contact__link:not(:last-child) {
  margin-right: 1em;
}

.main-section__contact__link > i {
  vertical-align: super;
}
